@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
/* COLORS */
/* IMAGES */
/* MIXINS */
.section:after {
  content: "";
  display: table;
  clear: both;
}

/* CONTAINERS */
.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 740px;
}

.col--1 {
  width: calc(8.3333333333% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--1 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--1 {
    width: 100%;
    text-align: center;
  }
}
.col--2 {
  width: calc(16.6666666667% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--2 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--2 {
    width: 100%;
    text-align: center;
  }
}
.col--3 {
  width: calc(25% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--3 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--3 {
    width: 100%;
    text-align: center;
  }
}
.col--4 {
  width: calc(33.3333333333% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--4 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--4 {
    width: 100%;
    text-align: center;
  }
}
.col--5 {
  width: calc(41.6666666667% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--5 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--5 {
    width: 100%;
    text-align: center;
  }
}
.col--6 {
  width: calc(50% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--6 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--6 {
    width: 100%;
    text-align: center;
  }
}
.col--7 {
  width: calc(58.3333333333% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--7 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--7 {
    width: 100%;
    text-align: center;
  }
}
.col--8 {
  width: calc(66.6666666667% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--8 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--8 {
    width: 100%;
    text-align: center;
  }
}
.col--9 {
  width: calc(75% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--9 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--9 {
    width: 100%;
    text-align: center;
  }
}
.col--10 {
  width: calc(83.3333333333% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--10 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--10 {
    width: 100%;
    text-align: center;
  }
}
.col--11 {
  width: calc(91.6666666667% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--11 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--11 {
    width: 100%;
    text-align: center;
  }
}
.col--12 {
  width: calc(100% - 15px);
  display: inline-block;
  vertical-align: top;
}
.col--12 img {
  width: 100%;
}

@media only screen and (max-width: 765px) {
  .col--12 {
    width: 100%;
    text-align: center;
  }
}
/* GENERAL */
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #2d2d2d;
  background-color: #F6F6F6;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: "Amatica SC", "Times";
  vertical-align: middle;
}

h1, .h1 {
  color: #F6F6F6;
  font-size: 4em;
}

h2, .h2 {
  font-size: 2em;
  line-height: 1.4em;
  margin-top: 45px;
}

h3, .h3 {
  font-size: 1.5em;
  line-height: 1.7em;
  margin-top: 45px;
}

h4, .h4 {
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
}

p, a {
  font-size: 1.1em;
}

p {
  line-height: 1.5em;
  text-align: justify;
  padding: 15px 0;
}

a {
  font-weight: bold;
  color: #824c4c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.readmore:after, a.readup:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}
a.readmore:after {
  /*content: '\f061';*/
}
a.readup:after {
  content: "";
}
a.nolink {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
}

.minor {
  font-size: 0.8em;
}

.strong {
  font-weight: 900;
}

.left-align {
  text-align: left;
}

.right-align, .right-align p {
  text-align: right;
}

.center-align > div {
  vertical-align: middle;
}

.section {
  padding: 15px 0;
  text-align: center;
}
.section.white {
  background-color: #FFFFFF;
}

.list span {
  margin-right: 10px;
  line-height: inherit;
}
.list li {
  padding: 10PX 0;
}

img, iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

iframe {
  vertical-align: top;
  display: inline-block !important;
  width: 100%;
}

.hulta {
  font-size: 0.7em;
  display: block;
}

/* SECTIONS */
.payoff {
  background-color: #D9D9C6;
  text-align: center;
  padding: 0.5em;
  margin-top: -3px;
  font-size: 1.1em;
}
.payoff p {
  text-align: center;
}

.image--list div {
  margin-right: 5px;
}

.camping--priser {
  text-align: left;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.camping--priser li {
  padding: 5px 0;
  font-weight: bold;
}
.camping--priser li span {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

iframe.slowtv {
  height: 90vh;
}

.ml {
  margin-left: 15px;
}

.mr {
  margin-right: 15px;
}

.mt {
  margin-top: 15px;
}

.mb {
  margin-bottom: 15px;
}

/* Menu */
.menu {
  height: 50px;
  background-color: #666666;
  color: #F6F6F6;
  font-size: 1em;
}
.menu ul {
  vertical-align: middle;
  text-align: center;
}
.menu ul li {
  display: inline-block;
  margin: 0 0.5em;
  line-height: 45px;
}
.menu ul li:first-child {
  margin-left: 0;
}
.menu ul li.active {
  font-weight: bold;
  font-size: 2em;
}
.menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}
.menu .title {
  display: none;
}

/* Imagehandling */
.imagewrapper--small, .imagewrapper--medium, .imagewrapper--big {
  width: 100%;
}
.imagewrapper--small h1, .imagewrapper--medium h1, .imagewrapper--big h1 {
  position: absolute;
  left: 50%;
  text-align: center;
  border: 3px solid;
  transform: translate(-50%, -90%);
  padding: 0.2em;
}
.imagewrapper--small img, .imagewrapper--medium img, .imagewrapper--big img {
  width: 100%;
}
.imagewrapper--small .header-image, .imagewrapper--medium .header-image, .imagewrapper--big .header-image {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.imagewrapper--small.wood .image, .imagewrapper--medium.wood .image, .imagewrapper--big.wood .image {
  background-image: url(../img/wood2.jpg);
}
.imagewrapper--small.far .image, .imagewrapper--medium.far .image, .imagewrapper--big.far .image {
  background-image: url(../img/far.jpg);
}
.imagewrapper--small.far h1, .imagewrapper--medium.far h1, .imagewrapper--big.far h1 {
  left: 80%;
}
.imagewrapper--small.halmhus .image, .imagewrapper--medium.halmhus .image, .imagewrapper--big.halmhus .image {
  background-image: url(../img/halmhus.jpg);
  background-position: 0 50%;
}
.imagewrapper--small.halmhus h1, .imagewrapper--medium.halmhus h1, .imagewrapper--big.halmhus h1 {
  left: 90%;
}
.imagewrapper--small.folk .image, .imagewrapper--medium.folk .image, .imagewrapper--big.folk .image {
  background-image: url(../img/kaspertekla.png);
  background-position: 0 50%;
}
.imagewrapper--small.folk h1, .imagewrapper--medium.folk h1, .imagewrapper--big.folk h1 {
  left: 15%;
}
.imagewrapper--small.kontakt .image, .imagewrapper--medium.kontakt .image, .imagewrapper--big.kontakt .image {
  background-image: url(../img/kontakt.jpg);
  background-position: 0 30%;
}
.imagewrapper--small.kontakt h1, .imagewrapper--medium.kontakt h1, .imagewrapper--big.kontakt h1 {
  left: 15%;
}
.imagewrapper--small.camping .image, .imagewrapper--medium.camping .image, .imagewrapper--big.camping .image {
  background-image: url(../img/camping.jpg);
  background-position: 0 80%;
}
.imagewrapper--small.camping h1, .imagewrapper--medium.camping h1, .imagewrapper--big.camping h1 {
  left: 15%;
}
.imagewrapper--small.brollop .image, .imagewrapper--medium.brollop .image, .imagewrapper--big.brollop .image {
  background-image: url(../img/brollop.jpg);
  background-position: 0 40%;
}
.imagewrapper--small.brollop h1, .imagewrapper--medium.brollop h1, .imagewrapper--big.brollop h1 {
  left: 20%;
}
.imagewrapper--small.honor .image, .imagewrapper--medium.honor .image, .imagewrapper--big.honor .image {
  background-image: url(../img/honor.jpg);
  background-position: 0 90%;
}
.imagewrapper--small.butik .image, .imagewrapper--medium.butik .image, .imagewrapper--big.butik .image {
  background-image: url(../img/butik.jpg);
  background-position: 100% 20%;
}
.imagewrapper--small.butik h1, .imagewrapper--medium.butik h1, .imagewrapper--big.butik h1 {
  left: 20%;
}
.imagewrapper--small .image-view, .imagewrapper--medium .image-view, .imagewrapper--big .image-view {
  background-image: url(../img/view1.jpg);
  background-position: 0 60%;
}

.imagewrapper--big h1 {
  top: 4em;
}
.imagewrapper--big .header-image {
  height: 550px;
}
.imagewrapper--medium .header-image {
  height: 450px;
}
.imagewrapper--small h1 {
  top: 4.5em;
  font-size: 3.5em;
  left: 70%;
}
.imagewrapper--small .header-image {
  height: 350px;
}

@media only screen and (max-width: 1465px) {
  .imagewrapper--small.halmhus h1, .imagewrapper--medium.halmhus h1, .imagewrapper--big.halmhus h1 {
    transform: translate(-90%, -90%);
  }
}
@media only screen and (max-width: 765px) {
  .imagewrapper--small.halmhus h1, .imagewrapper--medium.halmhus h1, .imagewrapper--big.halmhus h1 {
    transform: translate(-50%, -90%);
  }
}
/* Social */
.social h2 {
  line-height: 1.5em;
}
.social .facebook {
  margin-top: 15px;
}
.social .odlaiverkligheten {
  margin-right: 15px;
}
.social .banner {
  background-color: #9C7B7B;
  height: 80px;
  position: relative;
  margin-top: -80px;
  text-align: left;
  padding: 0 15px;
}

#footer {
  background-color: #666666;
  color: #F6F6F6;
  padding: 15px 0;
}
#footer a {
  color: #F6F6F6;
}
#footer iframe {
  margin: 15px 0;
}
#footer .second {
  margin-top: 15px;
}

.index {
  background: #9C7B7B;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #FFFFFF;
  text-align: left;
  float: left;
}
.index li {
  margin: 15px 0;
}
.index a {
  color: #FFFFFF;
  text-decoration: none;
}

.lessons span {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.icon--facebook {
  background: url("../img/icon-fb.svg") no-repeat;
  background-size: 50px;
}
.icon--instagram {
  background: url("../img/icon-insta.svg") no-repeat;
  background-size: 50px;
}
.icon--mail {
  background: url("../img/icon-mail.svg") no-repeat;
  background-size: 50px;
}
.icon--mail-white {
  background: url("../img/icon-mail-white.svg") no-repeat;
  background-size: 50px;
}
.icon--tv {
  background: url("../img/icon-tv.svg") no-repeat;
  background-size: 90px;
  width: 90px;
  height: 95px;
}

.button {
  background-color: #8b9c7b;
  border-radius: 4px;
  display: block;
  transition: background-color 0.5s;
  color: white;
  padding: 15px;
  text-align: center;
}
.button:hover {
  background-color: #748366;
  text-decoration: none;
}
.button.redlight {
  background-color: #C57B7B;
}
.button:hover {
  background-color: #824c4c;
  text-decoration: none;
}
.button.more {
  text-align: left;
  padding: 15px 30px;
}
.button.more .h2 {
  display: block;
  margin-top: 0;
  line-height: 1.1em;
}

@media only screen and (max-width: 765px) {
  .button.more {
    text-align: center;
  }
  .button.more .icon {
    margin-top: 15px;
  }
}
#mc_embed_signup form {
  background: #F6F6F6;
}

@media only screen and (max-width: 765px) {
  .container {
    margin: 0 15px;
  }

  h1, h2, h3, .right-align p, a, a.left-align, .left-align, .right-align {
    text-align: center;
  }

  .imagewrapper--small h1 {
    left: 50% !important;
  }

  .imagewrapper--big .header-image {
    height: 350px;
  }

  .imagewrapper--small.halmhus .image {
    background-position: 100% 53%;
  }

  .index {
    height: 40px;
    overflow: hidden;
    padding: 0px;
  }
  .index .title {
    margin: 5px 15px;
  }
  .index .title h3 {
    text-decoration: underline;
    margin-top: 0px;
    line-height: 1em;
    text-align: left;
  }
  .index li {
    margin: 10px 35px;
  }

  .mr {
    margin-right: 5px;
  }

  .menu {
    overflow: hidden;
    height: 25px;
    padding-bottom: 15px;
  }
  .menu ul .title {
    display: block;
    text-decoration: underline;
  }
  .menu ul li {
    display: block;
    line-height: 35px;
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
