/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FONTS */
/* COLORS */
/* MIXINS */
.section:after {
  content: "";
  display: table;
  clear: both; }

/* CONTAINERS */
.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 740px; }

.col--2 {
  max-width: 357.5px;
  display: inline-block;
  vertical-align: middle; }
  .col--2:first-child {
    margin-right: 20px; }

/* GENERAL */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #666666;
  background-color: #F6F6F6; }

h1, h2, h3, .h1, .h2, .h3 {
  font-family: "Amatica SC", cursive; }

h1, .h1 {
  color: #F6F6F6;
  font-size: 4em; }

h2, .h2 {
  font-size: 2em;
  line-height: 2.2em; }

h3, .h3 {
  color: #F6F6F6;
  font-size: 1.4em; }

p {
  line-height: 1.4em; }

a {
  color: #9C7B7B;
  text-decoration: underline; }
  a.readmore:after {
    content: '\f061';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none; }
  a.nolink {
    text-decoration: none;
    color: #FFFFFF; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.section {
  padding: 2em 0;
  text-align: center; }
  .section.white {
    background-color: #FFFFFF; }

img, iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block; }

iframe {
  vertical-align: top;
  display: inline-block !important; }

/* SECTIONS */
.lamm {
  max-width: 100%; }

.payoff {
  background-color: #D9D9C6;
  text-align: center;
  padding: 0.5em;
  font-size: 1.3em;
  margin-top: -3px; }

/* Menu */
.menu {
  height: 40px;
  background-color: #666666; }
  .menu ul {
    vertical-align: middle; }
    .menu ul li {
      display: inline-block;
      margin: 0 1em;
      line-height: 35px; }
    .menu ul li:first-child {
      margin-left: 0; }
    .menu ul li.active {
      font-weight: bold;
      font-size: 2em; }
  .menu a {
    color: #FFFFFF;
    text-decoration: none; }

/* Imagehandling */
.imagewrapper {
  width: 100%; }
  .imagewrapper .header-image--big, .imagewrapper .header-image--small {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; }
  .imagewrapper .header-image--big {
    height: 650px; }
  .imagewrapper .header-image--medium {
    height: 450px; }
  .imagewrapper .header-image--small {
    height: 350px; }
  .imagewrapper .image-wood {
    background-image: url(../img/wood2.jpg); }
  .imagewrapper .image-view {
    background-image: url(../img/view1.jpg);
    background-position: 70%; }
  .imagewrapper h1 {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid;
    transform: translate(-50%, -90%);
    padding: 0.2em; }
  .imagewrapper img {
    width: 100%; }

/* Social */
.social img {
  max-width: inherit; }

/*# sourceMappingURL=styles.css.map */
