@import url("https://fonts.googleapis.com/css?family=Amatica+SC|Raleway:200");

/* FONTS */
$font-family-first: 'Amatica SC', 'Times', sans-serif;
$font-family-second: 'Raleway', sans-serif;
$font-size: 16px;