/* GENERAL */
body{
	font-family: $font-family-second;
	font-size: $font-size;
  color: $darker;
  background-color: $light;
}
h1,h2,h3,.h1,.h2,.h3{
  font-family: $font-family-first;
}
h1,.h1{
	color: $light;
  font-size: 4em;
}
h2,.h2{
  font-size: 2em;
  line-height: 1.4em;
  margin-top: $gutter*3;
}
h3,.h3{
  font-size: 1.5em;
  line-height: 1.7em;
  margin-top: $gutter*3;
}
h4,.h4{
  font-weight: bold;
  margin-top: $gutter;
  text-align: left;
}
p, a {
  font-size: 1.1em;
}
p{
  line-height: 1.5em;
  text-align: justify;
  padding: $gutter 0;
}
a{
  font-weight: bold;
  color: $reddark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.readmore:after,
  &.readup:after{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
  }
  &.readmore:after{
    /*content: '\f061';*/
  }
  &.readup:after{
    content: '\f062';
  }
  &.nolink{
    text-decoration: none;
    color: $white;
    font-weight: normal;
  }
}
.strong {
  font-weight: 900;
}
.left-align {
  text-align: left;
}
.right-align, .right-align p {
  text-align: right;
}
.center-align > div {
  vertical-align: middle;
}
.section{
  padding: $gutter 0;
  text-align: center;
  &.white{
    background-color: $white;
  }
  @extend %clearfix-after;
}
.list{
  span{
    margin-right: 10px;
    line-height: inherit;
  }
  li {
    padding: 10PX 0;
  }
}
img, iframe{
  display: block;
  @include center();
}

iframe{
  vertical-align: top;
  display: inline-block!important;
  width: 100%;
}

/* SECTIONS */


.payoff{
  background-color: $greenlight;
  text-align: center;
  padding: 0.5em;
  margin-top: -3px;
  font-size: 1.1em;
  p{
    text-align: center;
  }
}
.image--list div {
  margin-right: 5px;
}
.camping--priser {
  text-align: left;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  li {
    padding: 5px 0;
    font-weight: bold;
    span {
      width: 45%;
      display: inline-block;
      vertical-align: top;
    }
  }
}
iframe.slowtv {
  height: 90vh;
}

.ml {
  margin-left: $gutter;
}
.mr {
  margin-right: $gutter;
}
.mt {
  margin-top: $gutter;
}
.mb {
  margin-bottom: $gutter;
}
