/* GENERAL */
body{
	font-family: $font-family-second;
	font-size: $font-size;
  color: $grey-dark;
  background-color: $white;
}
h1,h2,h3{
  font-family: $font-family-first;
}
h1{
	color: #FFF;
  font-size: 4em;
}
h2{
  font-size: 3em;
}
p{
  line-height: 1.4em;
}
a{
  color: $blue;
}
.section{
  padding: 2em;
  text-align: center;
  @extend %clearfix-after;
  h2, p{
    text-align: center;
    padding: 0.3em;
  }
}
img, iframe{
  display: block;
  @include center();
}

iframe{
  vertical-align: top;
  display: inline-block!important;
}

/* SECTIONS */
.imagewrapper{
  width: 100%;
  display: inline-block;
  h1{
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  img{
    width: 100%;
  }
}
.lamm {
  max-width: 100%;
}
.payoff{
  background-color: $green;
  text-align: center;
  padding: 1em;
  font-size: 1.3em;
  margin-top: -3px;
}

@media only screen and (min-width: 1040px) {
  h1{
    font-size: 5em;
    //top: 40%;
  }
  p{
    width: 70%;
    @include center();
  }
}
