/* GENERAL */
body{
	font-family: $font-family-second;
	font-size: $font-size;
  color: $dark;
  background-color: $light;
}
h1,h2,h3,.h1,.h2,.h3{
  font-family: $font-family-first;
}
h1,.h1{
	color: $light;
  font-size: 4em;
}
h2,.h2{
  font-size: 2em;
  line-height: 2.2em;
}
h3,.h3{
  color: $light;
  font-size: 1.4em;
}
p{
  line-height: 1.4em;
  text-align: justify;
  padding: $gutter 0;
}
a{
  color: $red;
  text-decoration: underline;
  &.readmore:after{
    content: '\f061';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
  }
  &.nolink{
    text-decoration: none;
    color: $white;
  }
}
.strong {
  font-weight: 900;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.section{
  padding: 2em 0;
  text-align: center;
  &.white{
    background-color: $white;
  }
  @extend %clearfix-after;
}
img, iframe{
  display: block;
  @include center();
}

iframe{
  vertical-align: top;
  display: inline-block!important;
}

/* SECTIONS */


.payoff{
  background-color: $green;
  text-align: center;
  padding: 0.5em;
  font-size: 1.3em;
  margin-top: -3px;
}

@media only screen and (min-width: 1040px) {
  h1{
    //font-size: 5em;
  }
}
