

/* FONTS */
$font-family-first: 'Amatica SC', cursive;
$font-family-second: 'Raleway', sans-serif;
$font-size: 16px;

/* COLORS */
$darker: #2d2d2d;
$dark: #666666;
$green: #D9D9C6;
$light: #F6F6F6;
$white: #FFFFFF;
$red: #9C7B7B;

/* IMAGES */
$small: 350px;
$medium: 450px;
$big: 550px;

/* MIXINS */
@mixin center(){
	margin-left: auto;
	margin-right: auto;
	display: block;
}

%clearfix-after{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* CONTAINERS */
$container-width: 740px;
$column-count: 12;
$gutter: 15px;

.container {
  @include center();
  max-width: $container-width;
}
@for $i from 1 through $column-count {
  .col--#{$i} {
    width: calc(#{100%/$column-count * $i} - #{$gutter}); 
    display: inline-block;
    vertical-align: top;
    margin-right: $gutter;
    img{
      width: 100%;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 765px) {
    .col--#{$i} {
      width: 100%; 
    }
  }
}