@media only screen and (max-width: 765px) {
  .container, .container-flex{
    margin: 0 $gutter;
  }
  h1, h2, h3, .right-align p, a, a.left-align, .left-align, .right-align {
    text-align: center;
  }

  .box {
    margin-top: 0;
  }
  .index {
    height: 40px;
    overflow: hidden;
    padding: 0px;
    .title {
      margin: 5px 15px;
      h3{
        text-decoration: underline;
        margin-top: 0px;
        line-height: 1em;
        text-align: left;
      }
    }
    li {
      margin: 10px 35px;
    }
  }
  .mr {
    margin-right: 5px;
  }
  .menu {
    overflow: hidden;
    height: 25px;
    padding-bottom: $gutter;
    ul{
      .title{
        display: block;
        text-decoration: underline;
      }
      li{
        display: block;
        line-height: 35px;
        text-align: left;
      }
    }
  }
}
