@media only screen and (max-width: 765px) {
  .container{
    margin: 0 $gutter;
  }
  h1, h2, h3, p, .right-align p, a, a.left-align, .left-align, .right-align {
    text-align: center;
  }
  .imagewrapper--small h1 {
    left: 50%!important;
  }
  .imagewrapper--big .header-image{
    height: 350px;
  }
  .imagewrapper--small.halmhus .image{
    background-position: 100% 53%;
  }
  .index{
    height: 40px;
    overflow: hidden;
    padding: 0px;
    .title {
      margin: 5px 15px;
      h3{
        text-decoration: underline;
        margin-top: 0px;
        line-height: 1em;
        text-align: left;
      }
    }
    li {
      margin: 10px 35px;
    }
  }
  .menu {
    overflow: hidden;
    height: 25px;
    padding-bottom: $gutter;
    ul{
      .title{
        display: block;
        text-decoration: underline;
      }
      li{
        display: block;
        line-height: 35px;
        text-align: left;
      }
    }
  }
}
