.button {
  background-color: $green;
  border-radius: 4px;
  display: block;
  transition: background-color 0.5s;
  color: white;
  padding: $gutter;
  text-align: center;
  &:hover {
    background-color: $greendark;
    text-decoration: none;
  }
  &.redlight {
    background-color: $redlight;
    &:hover {
      background-color: $reddark;
      text-decoration: none;
    }
  }
  &.more {
    text-align: left;
    padding: $gutter $gutter*2;
    .h2 {
      display: block;
      margin-top: 0;
      line-height: 1.1em;
    }
  }
}
.readmore--container {
  position: relative;
  display: flex;
  justify-content: center;
}
.readmore--outline {
  border: 1px solid white;
  background: transparent;
  color: #FFFFFF;
  position: absolute;
  bottom: 6rem;
  left: 8.5rem;
  border-radius: .4rem;
  padding: 0.6rem;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}




@media only screen and (max-width: 765px) {
    .button.more {
      text-align: center;
      .icon {
        margin-top: $gutter;
      }
    }
  }