.button {
  background-color: $greendark;
  display: block;
  transition: background-color 0.5s;
  color: white;
  padding: $gutter;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
  &:hover {
    // background-color: $dark;
    text-decoration: underline;
    // color: white;
  }
  &.disabled {
    background-color: $grey;
    text-decoration: none;
    cursor: default;
  }
  &.redlight {
    background-color: $redlight;
    &:hover {
      background-color: $reddark;
      text-decoration: none;
    }
  }
  &.more {
    text-align: left;
    padding: $gutter $gutter*2;
    .h2 {
      display: block;
      margin-top: 0;
      line-height: 1.1em;
    }
  }
}
.readmore--container {
  position: relative;
  display: flex;
  justify-content: center;
}
.readmore--outline {
  border: 1px solid white;
  background: rgba(107, 115, 98, 0.8);
  color: #FFFFFF;
  position: absolute;
  bottom: 6rem;
  border-radius: .2rem;
  padding: 0.6rem;
  &:hover {
    background: rgba(107, 115, 98, 1);
    text-decoration: none;
  }
}




@media only screen and (max-width: 765px) {
    .button.more {
      text-align: center;
      .icon {
        margin-top: $gutter;
      }
    }
  }