#footer{
  background-color: $dark;
  color: $light;
  padding: $gutter 0;
  margin-top: $gutter*2;
  a {
    color: $light;
  }
  iframe{
    margin: $gutter 0;
  }
  .second {
    margin-top: $gutter;
  }
}