
/* Imagehandling */


.imagewrapper--small, .imagewrapper--medium, .imagewrapper--big{
  width: 100%;
  position: relative;
  h1, .logo{
    position: absolute;
    left: 50%;
    text-align: center;
    border: 3px solid;
    transform: translate(-50%, -90%);
    padding: 0.2em;
  }
  img{
    width: 100%;
  }
  .header-image{
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
  }
  &.wood {
    .image{
      background-image: url(../img/wood2.jpg);
    }
  .logo {
      border: none;
      width: 70vw;
      max-width: 640px;
      bottom: 9em;
    }
  }
  &.far{
    .image{
      background-image: url(../img/far.jpg);
    }
    h1{
      left: 80%;
    }
  }
  &.halmhus{ 
    .image{
      background-image: url(../img/halmhus.png);
      background-position: 0 50%;
    }
    h1{
      left: 20%;
      background: rgba(0, 0, 0, 0.3);
      width: 250px;
    }
  }
  &.rundhustak{ 
    .image{
      background-image: url(../img/halmhus/tak1.jpg);
      background-position: 0 50%;
    }
    h1{
      left: 85%;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &.puts{ 
    .image{
      background-image: url(../img/halmhus/puts2.jpg);
      background-position: 0 30%;
    }
    h1{
      left: 15%;
      background: rgba(0, 0, 0, 0.3);
    }
  } 
  &.konstruktion{ 
    .image{
      background-image: url(../img/halmhus/spaning.png);
      background-position: 0 30%;
    }
    h1{
      left: 85%;
      background: rgba(0, 0, 0, 0.3);
    }
  } 
  &.folk{ 
    .image{
      background-image: url(../img/kaspertekla.png);
      background-position: 0 50%;
    }
    h1{
      left: 15%; 
    }
  }
  &.lok{ 
    .image{
      background-image: url(../img/lok.jpg);
      background-position: 0 40%;
    }
    h1 {
      background: rgba(0, 0, 0, 0.3);
    }
  } 
  &.kontakt{ 
    .image{
      background-image: url(../img/kontakt.jpg);
      background-position: 0 30%;
    }
    h1{
      left: 15%; 
    }
  }
  &.camping{ 
    .image{
      background-image: url(../img/wood6.jpg);
      background-position: 0 46%;
    }
    h1{
      left: 15%; 
    }
  }
  &.brollop{
    .image{
      background-image: url(../img/brollop.jpg);
      background-position: 0 40%;
    }
    h1{
      left: 20%;
    }
  }
  &.honor .image{
    background-image: url(../img/honor.jpg);
    background-position: 0 90%;
  }
  &.butik {
    .image{
      background-image: url(../img/butik3.jpg);
      background-position: 100% 65%;
    }
    h1{
      left: 12%;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  .image-view{
    background-image: url(../img/view1.jpg);
    background-position: 0 60%;
  }
}
.imagewrapper{
  &--big {
    h1{
      top: 4em;
    }
    .header-image{
      height: $big;
    }
  }
  &--medium .header-image{
    height: $medium;
  }
  &--small {
    h1 {
      top: 4.5em;
      font-size: 3.5em;
      left: 70%;
    }
    .header-image{
      height: $small;
    }
  }
}

@media only screen and (max-width: 1465px) {
  .imagewrapper--small, .imagewrapper--medium, .imagewrapper--big{
    &.halmhus h1 {
      transform: translate(-90%, -90%);
    }
  }
}
@media only screen and (max-width: 765px) {
  .imagewrapper--small, .imagewrapper--medium, .imagewrapper--big{
    &.halmhus h1 {
      transform: translate(-50%, -90%);
    }
    &.puts h1 {
      top: 40%;
    }
    &.wood .logo {
      width: 90vw;
      bottom: 0;
    }
    &.rundhustak{ 
      .image{
        background-position: 50% 50%;
      }
    }
  }
  .imagewrapper--small h1 {
    left: 50%!important;
  }
  .imagewrapper--big .header-image{
    height: 350px;
  }

}