
/* Imagehandling */


.imagewrapper--small, .imagewrapper--medium, .imagewrapper--big{
  width: 100%;
  h1{
    position: absolute;
    left: 50%;
    text-align: center;
    border: 3px solid;
    transform: translate(-50%, -90%);
    padding: 0.2em;
  }
  img{
    width: 100%;
  }
  .header-image{
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
  }
  &.wood .image{
    background-image: url(../img/wood2.jpg);
  }
  &.far{
    .image{
      background-image: url(../img/far.jpg);
    }
    h1{
      left: 80%;
    }
  }
  &.halmhus{ 
    .image{
      background-image: url(../img/halmhus.jpg);
      background-position: 0 50%;
    }
    h1{
      left: 90%; 
    }
  } 
  &.folk{ 
    .image{
      background-image: url(../img/kaspertekla.png);
      background-position: 0 50%;
    }
    h1{
      left: 15%; 
    }
  } 
  &.kontakt{ 
    .image{
      background-image: url(../img/kontakt.jpg);
      background-position: 0 30%;
    }
    h1{
      left: 15%; 
    }
  }
  &.brollop{
    .image{
      background-image: url(../img/brollop.jpg);
      background-position: 0 40%;
    }
    h1{
      left: 20%;
    }
  }
  &.honor .image{
    background-image: url(../img/honor.jpg);
    background-position: 0 90%;
  }
  .image-view{
    background-image: url(../img/view1.jpg);
    background-position: 0 60%;
  }
}
.imagewrapper{
  &--big {
    h1{
      top: 4em;
    }
    .header-image{
      height: $big;
    }
  }
  &--medium .header-image{
    height: $medium;
  }
  &--small {
    h1 {
      top: 4.5em;
      font-size: 3.5em;
      left: 70%;
    }
    .header-image{
      height: $small;
    }
  }
}

@media only screen and (max-width: 1465px) {
  .imagewrapper--small, .imagewrapper--medium, .imagewrapper--big{
    &.halmhus h1 {
      transform: translate(-90%, -90%);
    }
  }
}
@media only screen and (max-width: 765px) {
  .imagewrapper--small, .imagewrapper--medium, .imagewrapper--big{
    &.halmhus h1 {
      transform: translate(-50%, -90%);
    }
  }
}