.index{
  background: $greenlight;
  padding: $gutter;
  position: sticky;
  top: 0;
  color: $white;
  text-align: left;
  float: left;
  overflow: hidden;
  .title {
    margin-top: 0;
    cursor: pointer;
  }
  li{
    margin: $gutter 0;
  }
  a{
    color: $white;
    text-decoration: none;
  }
  h3 {
    margin: 0;
  }
}