.index{
  background: $red;
  padding: $gutter;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: $white;
  text-align: left;
  float: left;
  li{
    margin: $gutter 0;
  }
  a{
    color: $white;
    text-decoration: none;
  }
}