/* Menu */

.menu{
	height: 50px;
	background-color: $greenlight;
  color: $light;
  font-size: 1em;
	ul {
    vertical-align: middle;
    text-align: center;
		li{
			display: inline-block;
      margin: 0 0.5em;
      line-height: 45px;
		}
    li:first-child{
      margin-left: 0;
    }
    li.active{
      font-weight: bold;
      font-size: 2em;
    }
	}
  a {
    color: $white;
    text-decoration: none;
    font-weight: normal;
  }
  .title{
    display: none;
  }
}