
/* Menu */

.menu{
  padding: 0 $gutter;
	height: 50px;
	background-color: $dark;
	ul {
    vertical-align: middle;
		li{
			display: inline-block;
      margin: 0 0.8em;
      line-height: 45px;
		}
    li:first-child{
      margin-left: 0;
    }
    li.active{
      font-weight: bold;
      font-size: 2em;
    }
	}
  a {
    color: $white;
    text-decoration: none;
  }
}